a {
	text-decoration: none;
	color: black;
	padding-left: 6px;
	font-size: 12px
}
ul {
	list-style-type: none;
	padding: 0;
	margin-top: 24px;
}
li {
	display: inline;
}
body {
	background-image: url(https://img0.etsystatic.com/030/0/6797489/il_fullxfull.597960090_g62l.jpg);
	background-repeat: no-repeat;
	background-size: 100%; 
	text-align: center;
	font-family: century;
	letter-spacing: 6px;
	margin: 0 auto;
	width: 85%;
}
h1 {
	font-size: 75px
}
a:hover {
	color: gray;
}
.pictures {
	margin-right: 15px;
	margin-bottom: 25px;
	float: left;
}